:root {
    --bg-primary-color: #0a0a0f;
    --white-variant: #fefefe;
    --white-variant-hover: #ffffffb9;
    --grey: #969696;
    --bg-button: #ff005c;
    --bg-button-hover: #c30148;
    --bg-cards: rgba(30, 30, 47, 0.30);

    --border-radius: 10px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;

}

/* body,
html {
    background-color: var(--bg-primary-color);
    scroll-behavior: smooth;
    scrollbar-width: thin;

} */

main {
    flex: 1;
    display: flex;
}

/* general */

/* error form */

.error {
    color: red;
    font-size: 12px;
    margin-left: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 1.5px;
    text-transform: uppercase;

}

h1 {
    font-size: 28px;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

h3 {
    font-size: 20px;
    color: rgba(0, 255, 234, 1);

}

p {
    font-size: 16px;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
}


input {
    border-radius: 100px;
    max-width: 100%;
    width: 100%;
    padding: 6px 5px;
    background-color: inherit;
    outline: none;
    border: 1px solid rgba(0, 255, 234, 0.3);
    transition: border 0.3s ease-in-out;
    font-size: 14px;


}

input:focus {
    border: 1px solid rgba(0, 255, 234, 0.6);
}

.icons-size {
    width: 20px;

}


.item-nav,
.button,
.prefix {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

}

.h1-header,
.button,
.item-nav,
input,
p,
h1,
label,
.prefix,
h2 {
    color: var(--white-variant);

}

p,
.font,
label,
textarea {
    font-family: 'Roboto', sans-serif;
}

.format-text {
    color: #969696;
    font-size: 18px;
    white-space: normal;
    text-wrap: pretty;
    line-height: 1.5;

}

.button {
    padding: 10px 5px;
    background-color: var(--bg-button);
    max-width: 100%;
    width: 200px;
    text-align: center;
    font-size: 16px;
    font-weight: 900;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    border: none;
}

.button:hover {
    background-color: var(--bg-button-hover);
    color: var(--white-variant-hover);

}

.images {
    width: 400px;
}

label {
    font-size: 16px;
    font-weight: 600;
}

.width-box {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Header */
.container-header {
    background-image: url('/img/header-img.png');
    background-color: rgba(10, 10, 15, 0.4);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 150px;

}

.box-header {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.h1-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 64px;
}



/* Nav */
.main-nav {
    max-height: 150px;
    height: 150px;
    width: 100%;
    background-color: var(--bg-primary-color);
    padding: 30px 30px;
    position: fixed;
    opacity: 0.9;
}

.container-sections-nav {
    display: flex;
    height: 100%;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    flex-direction: column;
}

.container-items-nav {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.search-bar {
    max-width: 500px;
    width: 500px;
}

.item-nav {
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

.item-nav:hover {
    color: rgba(0, 255, 234, 1);
}

/* top nav */
.section-t-nav {
    display: flex;
    justify-content: space-between;
}

.top-left-nav {
    display: flex;
    gap: 20px;
    width: 100%;
}



.icons-top-bar {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* Dropdown oculto por defecto */
.nav-item .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--bg-primary-color);
    opacity: 0.93;
    padding: 0 0;
    margin-top: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    min-width: 200px;
    z-index: 100;
}

.items-dropdown {
    color: var(--white-variant);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    transition: color 0.3s ease-in-out, background-color 0.2s ease-in-out;
    min-width: 100%;
    padding: 8px 20px;
    display: flex;

}

.dropdown li {
    margin: px 0;
}

.items-dropdown:hover {
    color: var(--bg-primary-color);
    background-color: rgba(0, 255, 234, 0.6);


}

.first-item {
    border-radius: 6px 6px 0 0;
}

.last-item {
    border-radius: 0 0 6px 6px;
}




/* Clase que mostraremos con JS */
.nav-item .dropdown.show {
    display: block;
}

/* Para que nav-item tenga posición relativa */
.nav-item {
    position: relative;
}



/* Section one  */

.section-one {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right,
            var(--bg-primary-color),
            var(--bg-primary-color),
            #080844);
    padding: 150px;
}


.container-items-section-one {
    background-color: var(--bg-primary-color);
    max-width: 1400px;
    width: 100%;
    height: 650px;
    ;
    padding: 50px;
    border-radius: var(--border-radius);
    border: 1px solid rgba(0, 255, 234, 0.1);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.item-section-one-left {
    border-radius: 10px 10px 0 10px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-section-one-rigth {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}

.size-h1-section-one {
    font-size: 46px;
    margin-bottom: 100px;
}

.width-text-section-one {
    max-width: 400px;
    font-size: 16px;
    font-weight: 300;
}

.main-content-right {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.gap-text-button-section-one {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
}

.box-especificaciones {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0 10px 10px 0;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--white-variant);
}

.font-size-h2-box-especifiaciones {
    font-size: 16px;

}

.flex-box-especifiaciones {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    gap: 20px;
}

/* footer */

footer {
    height: 150px;
    background-color: var(--bg-primary-color);
}

.container-footer {
    max-width: 1400px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 0;
}

.redes-footer-container {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 20px;
}

/* ---------------------------------------------------------------- */
/* Style Pagina Contacto */

.section-contacto {
    flex: 1;
    display: flex;
    background: linear-gradient(to bottom right,
            var(--bg-primary-color),
            var(--bg-primary-color),
            #080844);
    padding: 200px 0 50px 0;
}


.margin-top-h1-contacto {
    margin: 50px 0;
    text-align: center;
    font-size: 48px;
}

.box-contacto {
    width: 100%;
    padding: 50px;
    flex-grow: 1;
    background-color: var(--bg-cards);
    border-radius: var(--border-radius);
}

.form-contacto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100%;
    gap: 20px;

}

.left-side-form-contacto {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    gap: 20px;
}

.left-side-form-contacto input {
    width: 100%;
    padding: 10px 8px;
}

.input-phone {
    display: flex;
    align-items: center;
    gap: 10px;
}

.prefix {
    padding: 10px 8px;
    opacity: .5;
}



.right-side-form-contacto {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
}



.right-side-form-contacto textarea {
    height: 100%;
    border-radius: var(--border-radius);
    background-color: var(--bg-cards);
    border: 1px solid rgba(0, 255, 234, 0.3);
    transition: border 0.3s ease-in-out;
    outline: none;
    resize: none;
    padding: 10px;
    color: var(--white-variant);
    font-size: 16px;
    line-height: 1.5;


}

.right-side-form-contacto textarea:focus {
    border: 1px solid rgba(0, 255, 234, 0.6);
}

.box-submit-buttom {
    width: 100%;
    display: flex;
    justify-content: end;
    grid-column: 2;
}

.box-submit-buttom button {

    outline: none;
    cursor: pointer;
    border: none;
}

/* Nosotros  */

.margin-top-h1-aboutus {
    margin: 50px 0;
    text-align: center;
    font-size: 48px;
}

.section-nosotros {
    flex: 1;
    display: flex;
    background: linear-gradient(to bottom right,
            var(--bg-primary-color),
            var(--bg-primary-color),
            #080844);
    padding: 200px 0 50px 0;
    justify-content: center;
    align-items: center;


}

.box-aboutus {
    width: 100%;
    height: auto;
    padding: 50px;
    gap: 50px;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-cards);
    border-radius: var(--border-radius);

}

.icon-faces-aboutus {
    max-width: 150px;
    max-height: 150px;
    overflow: hidden;


}

.image-fundadores {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.box-icons-fundadores {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;


}

.box-icons-fundadores-item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    max-width: 300px;
    height: 100%;
    text-align: center;

}

/* Computadoras Consolas */

.section-computadoras,
.section-consoles {
    flex: 1;
    display: flex;
    background: linear-gradient(to bottom right,
            var(--bg-primary-color),
            var(--bg-primary-color),
            #080844);
    padding: 200px 0 50px 0;
    justify-content: center;
    align-items: center;


}

.margin-top-h1-computadores,
.margin-top-h1-consoles {
    margin: 50px 0;
    text-align: center;
    font-size: 48px;
}

.h2-items-computadores,
.h2-items-consoles {
    margin-bottom: 0px;
    margin-top: 20px;
}

.box-computadores,
.box-consoles {
    width: 100%;
    height: auto;
    padding: 50px;
    gap: 50px;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-cards);
    border-radius: var(--border-radius);

}

.box-items-comptuadores,
.box-items-consoles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.item-computadores,
.item-consoles {
    display: flex;
    flex-direction: column;
    height: 600px;
    flex: 1;

}

.box-image-item-computadores,
.box-image-item-consoles {
    width: 100%;
    min-height: 300px;
    max-height: 300px;

    overflow: hidden;
    background-color: white;
    border-radius: 10px;

}

.image-item-computadores,
.image-item-consoles {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.car-list-items,
.console-list-items {
    color: var(--white-variant);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
    height: 100%;
    justify-content: start;
    margin: 20px 0;
}


.box-button {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: end;
}