@import '@fontsource/roboto';
@import '@fontsource/montserrat';
@import '@fontsource/oswald';

@import "tailwindcss";


:root {
  --bg-primary-color: #0a0a0f;
  --bg-cards-color: #fefefe;
  --white-variant: #fefefe;
  --white-variant-hover: #ffffffb9;
  --grey: #969696;
  --bg-button: #ff005c;
  --bg-button-hover: #c30148;
  --bg-cards: #1e1e2f4d;
  --hover: #00ffea;

}


/* General */
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}


body {
  margin: 0;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
}

li {
  cursor: pointer;

}

/* Fonts*/

h1,
h2,
h3 {
  font-family: 'Oswald';
  font-weight: 900;
  letter-spacing: 0.5rem;
}

p,
li,
a {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.section-titles {
  font-size: 3.5rem;
  max-width: 400px;
  text-wrap: balance;
  margin-left: auto;
  margin-right: auto;

}

@media (min-width: 640px) {
  .section-titles {
    font-size: 7rem;
    max-width: none;

  }

}

.max-width {
  max-width: 1400px;
  margin: 0 auto;
}

/* Iconos */
.icon-size {
  width: 3.2rem;
  height: 3.2rem;
  color: white;
}

@media (min-width: 640px) {
  .icon-size {
    width: 3.5rem;
    height: 3.5rem;
  }
}